body {
    background-image: url("images/BackgroundImage.jpg");
    background-color: #cccccc;
    color: white;
    text-align: center;  
   }

img {
    width: 500px;
    height: auto;
  }

p {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}